In [1]:
import pandas as pd

file1 = "supplier_data1.xlsx"
file2 = "supplier_data2.xlsx"

df1 = pd.read_excel(file1)
df2 = pd.read_excel(file2)

In [2]:
# Count nulls in all columns
null_counts = df1.isnull().sum()
print("Null counts:")
print(null_counts)

# Get value counts for each column
print("\nValue counts:")
for column in df1.columns:
    print(f"\nColumn: {column}")
    print(df1[column].value_counts(dropna=False))

Null counts:
Quality/Choice       0
Grade                0
Finish               0
Thickness (mm)       0
Width (mm)           0
Description          0
Gross weight (kg)    0
RP02                 0
RM                   0
Quantity             0
AG                   0
AI                   0
dtype: int64

Value counts:

Column: Quality/Choice
Quality/Choice
3rd    19
2nd    18
1st    13
Name: count, dtype: int64

Column: Grade
Grade
C100S    26
C300S    14
C200S    10
Name: count, dtype: int64

Column: Finish
Finish
gebeizt und gegl체ht    19
gebeizt                17
ungebeizt              14
Name: count, dtype: int64

Column: Thickness (mm)
Thickness (mm)
2.75    4
2.48    3
2.32    2
2.88    2
2.51    2
2.08    2
2.74    2
2.43    2
2.18    1
2.21    1
2.89    1
2.53    1
2.77    1
2.83    1
2.80    1
2.01    1
2.30    1
2.12    1
2.37    1
2.72    1
2.82    1
2.14    1
2.22    1
2.31    1
2.20    1
2.86    1
2.69    1
2.98    1
2.03    1
2.54    1
2.55    1
2.84    1
2.52    1
2.46    1
2.27    1
2.29    1
2.19    1
2.65    1
2.79    1
Name: count, dtype: int64

Column: Width (mm)
Width (mm)
1050    16
1100    10
1150    10
1000     8
1075     6
Name: count, dtype: int64

Column: Description
Description
L채ngs- oder Querisse                  23
Sollmasse (Gewicht) unterschritten    16
Kantenfehler - FS-Kantenrisse         11
Name: count, dtype: int64

Column: Gross weight (kg)
Gross weight (kg)
13983    1
5915     1
10723    1
10262    1
8118     1
5011     1
8410     1
5124     1
12071    1
13321    1
7968     1
12702    1
8047     1
13047    1
7772     1
9995     1
9774     1
11360    1
8261     1
9110     1
13667    1
6947     1
8786     1
14311    1
10499    1
5979     1
14688    1
10959    1
14155    1
11381    1
10072    1
12863    1
8936     1
9810     1
5491     1
11415    1
14758    1
13400    1
12787    1
8391     1
10409    1
5951     1
8240     1
14139    1
7304     1
13518    1
12010    1
6665     1
14839    1
8048     1
Name: count, dtype: int64

Column: RP02
RP02
368.9    18
0.0      13
717.7    10
333.6     9
Name: count, dtype: int64

Column: RM
RM
606.2     15
601.7     13
1213.0    13
0.0        9
Name: count, dtype: int64

Column: Quantity
Quantity
0.00     15
22.87    15
10.84    12
25.46     8
Name: count, dtype: int64

Column: AG
AG
16.110    15
0.000     15
15.050    13
6.858      7
Name: count, dtype: int64

Column: AI
AI
0.0041    4
0.0054    3
0.0061    3
0.0059    3
0.0042    3
0.0051    3
0.0053    2
0.0058    2
0.0045    2
0.0055    2
0.0046    2
0.0068    2
0.0047    2
0.0067    2
0.0064    2
0.0066    2
0.0062    2
0.0050    1
0.0057    1
0.0065    1
0.0049    1
0.0069    1
0.0048    1
0.0070    1
0.0063    1
0.0052    1
Name: count, dtype: int64

In [3]:
# Count nulls in all columns
null_counts = df2.isnull().sum()
print("Null counts:")
print(null_counts)

# Get value counts for each column
print("\nValue counts:")
for column in df2.columns:
    print(f"\nColumn: {column}")
    print(df2[column].value_counts(dropna=False))

Null counts:
Material       0
Description    0
Article ID     0
Weight (kg)    0
Quantity       0
Reserved       0
dtype: int64

Value counts:

Column: Material
Material
S235JR          19
HDC             13
DX51D +AZ150    10
DX51D +Z140      8
Name: count, dtype: int64

Column: Description
Description
Material is not Oiled    18
Material is Oiled        17
Material is Painted      15
Name: count, dtype: int64

Column: Article ID
Article ID
23048203    1
23045724    1
23048028    1
23045099    1
23046741    1
23047239    1
23049907    1
23044447    1
23047489    1
23040273    1
23040905    1
23043967    1
23049672    1
23040547    1
23049617    1
23043836    1
23049333    1
23041897    1
23040756    1
23041086    1
23047543    1
23045292    1
23047408    1
23043348    1
23049106    1
23044610    1
23049627    1
23041902    1
23046057    1
23041966    1
23043884    1
23048868    1
23046459    1
23043788    1
23044935    1
23049059    1
23047860    1
23047939    1
23047348    1
23045961    1
23042649    1
23048176    1
23043667    1
23046190    1
23044291    1
23046841    1
23041008    1
23041560    1
23043638    1
23043386    1
Name: count, dtype: int64

Column: Weight (kg)
Weight (kg)
24469    1
16393    1
6113     1
9037     1
24331    1
11898    1
21609    1
19165    1
18716    1
7025     1
14796    1
21149    1
21321    1
16984    1
22395    1
9355     1
10143    1
17001    1
6034     1
15230    1
9940     1
23884    1
5302     1
16927    1
23131    1
20027    1
20304    1
17933    1
9162     1
12119    1
17260    1
23258    1
20994    1
22325    1
10571    1
12999    1
15862    1
9217     1
15881    1
23915    1
15741    1
15717    1
23967    1
21346    1
10389    1
18501    1
14277    1
24951    1
15121    1
11191    1
Name: count, dtype: int64

Column: Quantity
Quantity
33    3
62    3
95    2
96    2
78    2
64    2
12    2
72    2
93    2
60    2
68    1
76    1
50    1
67    1
21    1
31    1
51    1
29    1
34    1
69    1
82    1
52    1
98    1
41    1
94    1
22    1
58    1
10    1
54    1
71    1
30    1
36    1
59    1
73    1
26    1
66    1
28    1
75    1
Name: count, dtype: int64

Column: Reserved
Reserved
NOT RESERVED    27
VANILLA         23
Name: count, dtype: int64

### After some basic EDA above, it is evident that there are no null values. However, the columns of the 2 datasets do not overlap completely. Therefore, the new columns in the combined dataset will have NaN or null values, since it is best not to impute with unreasonable assumptions, and also keep some distinction between itmes from the supplier1 dataset and the supplier2 dataset (in addition to the 'source' flag)

### We now proceed by first re-naming the columns in both datasets. The name are all in lower-case and consist only of letters and under-scores. The 'Material' column from supplier2 dataset is renamed to 'grade', since its values seem to follow the pattern of the 'grade' column in supplier1 dataset.

### Also, the previous EDA showed that the 'finish' and the 'description' column in supplier1 dataset have german language phrases whereas the 'description' column in supplier2 dataset has information in the English language. Hence, the 'finish' and the 'description' column of supplier 1 dataset are translated to their English translations.

### We also add a flag named 'source' that allows to distinguish between rows from the supplier1 dataset and the supplier2 dataset in the combined inventory dataset.

In [4]:
df1_clean = df1.rename(columns={
    "Quality/Choice": "quality",
    "Grade": "grade",
    "Finish": "finish",
    "Thickness (mm)": "thickness_mm",
    "Width (mm)": "width_mm",
    "Description": "description",
    "Gross weight (kg)": "weight_kg",
    "Quantity": "quantity",
})

finish_map = {
    "gebeizt und gegl체ht": "pickled and annealed",
    "gebeizt": "pickled",
    "ungebeizt": "unpickled"
}

description_map = {
    "L채ngs- oder Querisse": "longitudinal or transverse cracks",
    "Sollmasse (Gewicht) unterschritten": "nominal weight undershot",
    "Kantenfehler - FS-Kantenrisse": "edge defect - FS edge cracks"
}

df1_clean["finish"] = df1_clean["finish"].replace(finish_map)
df1_clean["description"] = df1_clean["description"].replace(description_map)
df1_clean["source"] = "supplier1"


df2_clean = df2.rename(columns={
    "Material": "grade",
    "Description": "description",
    "Article ID": "article_id",
    "Weight (kg)": "weight_kg",
    "Quantity": "quantity",
    "Reserved": "reserved"
})

# Add missing columns to align with supplier1 schema
for col in ["quality", "finish", "thickness_mm", "width_mm", "RP02", "RM", "AG", "AI"]:
    df2_clean[col] = pd.NA

df2_clean["source"] = "supplier2"


common_cols = [
    "quality", "grade", "finish", "thickness_mm", "width_mm",
    "description", "weight_kg", "quantity", "RP02", "RM", "AG", "AI",
    "article_id", "reserved", "source"
]

df1_final = df1_clean.reindex(columns=common_cols)
df2_final = df2_clean.reindex(columns=common_cols)

# Concatenate into unified dataset
inventory_dataset = pd.concat([df1_final, df2_final], ignore_index=True)


output_path = "inventory_dataset.csv"
inventory_dataset.to_csv(output_path, index=False)

# output_path

/var/folders/4z/jqjm7y1n685fk_nxyyd4rf1h0000gn/T/ipykernel_16123/1720065157.py:55: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  inventory_dataset = pd.concat([df1_final, df2_final], ignore_index=True)

### Viewing the first few rows of the combined inventory dataset and also a basic insight into the number of null values and the value counts of the combined dataset.

In [5]:
inventory_dataset.head()

,quality,grade,finish,thickness_mm,width_mm,description,weight_kg,quantity,RP02,RM,AG,AI,article_id,reserved,source
0,3rd,C200S,pickled and annealed,2.77,1100,longitudinal or transverse cracks,13983,0.00,333.6,606.2,16.11,0.0054,NaN,NaN,supplier1
1,3rd,C300S,unpickled,2.65,1075,longitudinal or transverse cracks,13047,0.00,717.7,0.0,16.11,0.0046,NaN,NaN,supplier1
2,3rd,C100S,pickled and annealed,2.20,1100,edge defect - FS edge cracks,14155,10.84,368.9,0.0,0.00,0.0061,NaN,NaN,supplier1
3,2nd,C100S,pickled,2.86,1100,longitudinal or transverse cracks,11381,22.87,368.9,601.7,0.00,0.0062,NaN,NaN,supplier1
4,1st,C300S,unpickled,2.88,1050,nominal weight undershot,10072,22.87,0.0,1213.0,0.00,0.0041,NaN,NaN,supplier1

In [6]:
# Count nulls in all columns
null_counts = inventory_dataset.isnull().sum()
print("Null counts:")
print(null_counts)

# Get value counts for each column
print("\nValue counts:")
for column in inventory_dataset.columns:
    print(f"\nColumn: {column}")
    print(inventory_dataset[column].value_counts(dropna=False))

Null counts:
quality         50
grade            0
finish          50
thickness_mm    50
width_mm        50
description      0
weight_kg        0
quantity         0
RP02            50
RM              50
AG              50
AI              50
article_id      50
reserved        50
source           0
dtype: int64

Value counts:

Column: quality
quality
NaN    50
3rd    19
2nd    18
1st    13
Name: count, dtype: int64

Column: grade
grade
C100S           26
S235JR          19
C300S           14
HDC             13
C200S           10
DX51D +AZ150    10
DX51D +Z140      8
Name: count, dtype: int64

Column: finish
finish
NaN                     50
pickled and annealed    19
pickled                 17
unpickled               14
Name: count, dtype: int64

Column: thickness_mm
thickness_mm
NaN     50
2.75     4
2.48     3
2.43     2
2.08     2
2.74     2
2.32     2
2.51     2
2.88     2
2.12     1
2.30     1
2.01     1
2.80     1
2.83     1
2.37     1
2.18     1
2.53     1
2.89     1
2.72     1
2.21     1
2.79     1
2.82     1
2.77     1
2.22     1
2.31     1
2.20     1
2.86     1
2.69     1
2.98     1
2.03     1
2.54     1
2.55     1
2.65     1
2.52     1
2.46     1
2.27     1
2.29     1
2.19     1
2.14     1
2.84     1
Name: count, dtype: int64

Column: width_mm
width_mm
<NA>    50
1050    16
1100    10
1150    10
1000     8
1075     6
Name: count, dtype: int64

Column: description
description
longitudinal or transverse cracks    23
Material is not Oiled                18
Material is Oiled                    17
nominal weight undershot             16
Material is Painted                  15
edge defect - FS edge cracks         11
Name: count, dtype: int64

Column: weight_kg
weight_kg
13983    1
23915    1
17933    1
15121    1
24951    1
        ..
5011     1
8118     1
10262    1
10723    1
11191    1
Name: count, Length: 100, dtype: int64

Column: quantity
quantity
0.00     15
22.87    15
10.84    12
25.46     8
33.00     3
62.00     3
12.00     2
96.00     2
78.00     2
72.00     2
64.00     2
95.00     2
93.00     2
60.00     2
76.00     1
67.00     1
21.00     1
31.00     1
68.00     1
29.00     1
34.00     1
50.00     1
51.00     1
69.00     1
82.00     1
22.00     1
98.00     1
94.00     1
58.00     1
10.00     1
54.00     1
71.00     1
30.00     1
36.00     1
59.00     1
73.00     1
26.00     1
66.00     1
28.00     1
41.00     1
52.00     1
75.00     1
Name: count, dtype: int64

Column: RP02
RP02
NaN      50
368.9    18
0.0      13
717.7    10
333.6     9
Name: count, dtype: int64

Column: RM
RM
NaN       50
606.2     15
601.7     13
1213.0    13
0.0        9
Name: count, dtype: int64

Column: AG
AG
NaN       50
16.110    15
0.000     15
15.050    13
6.858      7
Name: count, dtype: int64

Column: AI
AI
NaN       50
0.0041     4
0.0059     3
0.0051     3
0.0042     3
0.0054     3
0.0061     3
0.0066     2
0.0046     2
0.0058     2
0.0045     2
0.0062     2
0.0055     2
0.0068     2
0.0053     2
0.0047     2
0.0067     2
0.0064     2
0.0050     1
0.0065     1
0.0049     1
0.0069     1
0.0048     1
0.0070     1
0.0063     1
0.0052     1
0.0057     1
Name: count, dtype: int64

Column: article_id
article_id
NaN           50
23045724.0     1
23048028.0     1
23045099.0     1
23046741.0     1
23047239.0     1
23049907.0     1
23044447.0     1
23047489.0     1
23040273.0     1
23040905.0     1
23043967.0     1
23049672.0     1
23044610.0     1
23049617.0     1
23043836.0     1
23049333.0     1
23041897.0     1
23040756.0     1
23041086.0     1
23047543.0     1
23045292.0     1
23047408.0     1
23043348.0     1
23049106.0     1
23049627.0     1
23048203.0     1
23047939.0     1
23040547.0     1
23046057.0     1
23041966.0     1
23043884.0     1
23048868.0     1
23046459.0     1
23043788.0     1
23044935.0     1
23049059.0     1
23047860.0     1
23047348.0     1
23041902.0     1
23045961.0     1
23042649.0     1
23048176.0     1
23043667.0     1
23046190.0     1
23044291.0     1
23046841.0     1
23041008.0     1
23041560.0     1
23043638.0     1
23043386.0     1
Name: count, dtype: int64

Column: reserved
reserved
NaN             50
NOT RESERVED    27
VANILLA         23
Name: count, dtype: int64

Column: source
source
supplier1    50
supplier2    50
Name: count, dtype: int64